@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

body {
	font-family: 'Quicksand', sans-serif;
	margin: 0 auto;
	overflow-x: hidden;
	padding-bottom: 0px;
}

:root {
	--primary: #f59e0b;
	--secondary: #93c5fd;
	--off-white: #e5e7eb;
}

.active {
	color: blueviolet;
	font-size: large;
}
.nav a:hover {
	color: blueviolet;
}

.link {
	box-sizing: border-box;
	text-decoration: none;
	padding: 5px;
}

.link-primary {
	background-color: var(--primary);
	border-radius: 0.5rem;
	color: white;
	max-width: 140px;
	padding: 7px;
	cursor: pointer;
}

.link-secondary {
	color: var(--primary);
	border-radius: 0.5rem;
	border: 1px solid var(--primary);
	max-width: 140px;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: var(--primary);
}
.nav {
	color: var(--primary);
	padding: 1rem 0rem 0.5rem 1rem;
	background-color: var(--off-white);
	font-size: 18px;
	border-bottom-left-radius: 20px;
	font-weight: bold;
	margin: 0 auto;
}
.nav ul {
	text-align: right;
	margin-right: 45px;
	list-style-type: none;
}
.nav li {
	display: inline;
	padding-inline-start: 30px;
}

img {
	width: 615px;
	display: block;
	margin: 0 auto;
	height: 350px;
}
.center {
	text-align: center;
}
.tech-bar {
	list-style-type: none;
}
.projects {
	background-color: var(--off-white);
	margin: 0 auto;

	border-radius: 15px;
	padding: 15px;
}
.blog {
	padding: 10px;
}
.social {
	list-style-type: none;
	text-align: center;
}
.connect {
	text-align: center;
	background-color: var(--off-white);
	display: block;
	padding: 25px;
	margin: 0 auto;
	margin-top: 10px;
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
	position: relative;
	bottom: 0;
	margin-top: 10px;
}

.list-items {
	display: inline;
	margin: 40px;
}
.pages {
	text-align: center;
	width: 700px;
	margin: auto;
}
.project li {
	list-style-type: none;
}
.project li:nth-child(odd) {
	background-color: var(--off-white);
	padding: 30px;
	margin-top: 20px;
}
.hero {
	text-align: center;
}
.blog2 {
	list-style-type: none;
}
.blog2para {
	margin-right: 500px;
	margin-top: 15px;
	font-size: 18px;
	background-color: rgb(126, 228, 24);
}
.blog2heading {
	margin-right: 600px;
	font-weight: bolder;
	margin-top: 5px;
}
.blog2heading1 {
	background-color: rgb(126, 228, 24);
}
.blog2para2 {
	margin-right: 515px;
	font-size: 18px;
	background-color: rgb(213, 226, 34);
}
.blog2heading2 {
	background-color: rgb(213, 226, 34);
}

.blog2para3 {
	margin-right: 510px;
	font-size: 18px;
	background-color: rgb(221, 59, 9);
}
.blog2heading3 {
	background-color: rgb(221, 59, 9);
}
.blog2para4 {
	margin-right: 510px;
	font-size: 18px;
	background-color: rgb(18, 142, 214);
}
.blog2heading4 {
	background-color: rgb(18, 142, 214);
}
.blog2para5 {
	margin-right: 500px;
	font-size: 18px;
	background-color: rgb(195, 80, 206);
}
.blog2heading5 {
	background-color: rgb(195, 80, 206);
}
@media only screen and (min-width: 823px) {
	.nav {
		width: 100%;
	}
}

@media only screen and (max-width: 810px) {
	body {
		min-height: 100%;
		overflow-x: hidden;
	}
	html {
		height: 100%;
		overflow-x: hidden;
	}
	.nav {
		width: 100%;
	}
	.center {
		width: 98%;
	}
	.pages {
		width: 90%;
	}
	.project {
		width: 80%;
	}
	.projects {
		width: 94%;
	}
	img {
		width: 105%;
		height: auto;
	}
}
